# Importando as bibliotecas

In [2]:
import pandas as pd
import numpy as np

# Montando o dataframe

In [3]:
 # Definindo o dataframe

supermark = pd.read_csv('supermarket_sales.csv')

In [9]:
# Listando os 5 primeiros dados do dataframe

supermark.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [10]:
# Verificando o dataframe para ver se existem valores nulos ou errados

supermark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# Informações sobre vendas por mercado/cidade e datas

In [11]:
# Listando as cidades (e também mercados) onde houve mais vendas por cliente

supermark['City'].value_counts()

City
Yangon       340
Mandalay     332
Naypyitaw    328
Name: count, dtype: int64

In [47]:
# Quantidade de produtos vendidos por cidade

supermark.groupby('City')['Quantity'].sum()

City
Mandalay     1820
Naypyitaw    1831
Yangon       1859
Name: Quantity, dtype: int64

In [16]:
# Dias em que houve mais vendas de produtos nas 3 lojas

supermark.groupby('Date')['Quantity'].sum().sort_values(ascending=False)

Date
2/7/2019     128
3/14/2019    117
2/15/2019    106
3/5/2019     103
3/9/2019      99
            ...
2/13/2019     31
2/28/2019     30
3/18/2019     27
2/18/2019     24
2/21/2019     18
Name: Quantity, Length: 89, dtype: int64

In [26]:
# Dias em que houve mais vendas em Mandalay

supermark.loc[supermark['City'] == 'Mandalay'].groupby('Date')['Quantity'].sum().sort_values(ascending=False)

Date
3/5/2019     59
3/2/2019     52
1/26/2019    49
2/7/2019     48
1/28/2019    45
             ..
3/23/2019     4
3/21/2019     4
3/28/2019     3
2/18/2019     2
1/21/2019     1
Name: Quantity, Length: 86, dtype: int64

In [27]:
# Dias em que houve mais vendas em Yangon

supermark.loc[supermark['City'] == 'Yangon'].groupby('Date')['Quantity'].sum().sort_values(ascending=False)

Date
3/4/2019     57
1/19/2019    56
3/9/2019     39
2/17/2019    39
1/24/2019    39
             ..
3/5/2019      5
2/23/2019     4
2/26/2019     3
1/30/2019     3
2/21/2019     3
Name: Quantity, Length: 89, dtype: int64

In [28]:
# Dias em que houve mais vendas em Naypyitaw

supermark.loc[supermark['City'] == 'Naypyitaw'].groupby('Date')['Quantity'].sum().sort_values(ascending=False)

Date
1/23/2019    59
3/14/2019    58
2/7/2019     52
3/3/2019     45
1/8/2019     44
             ..
2/25/2019     6
1/24/2019     4
1/3/2019      3
2/20/2019     1
3/6/2019      1
Name: Quantity, Length: 88, dtype: int64

# Formas de pagamentos mais utilizadas

In [15]:
# Formas de pagamentos mais utilizadas

supermark['Payment'].value_counts()

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

In [53]:
# Formas de pagamentos mais utilizadas por cliente

supermark.groupby('Gender')['Payment'].value_counts()

Gender  Payment
Female  Cash           178
        Credit card    163
        Ewallet        160
Male    Ewallet        185
        Cash           166
        Credit card    148
Name: count, dtype: int64

In [4]:
# Formas de pagamentos mais utilizados por cidade 

supermark.groupby('City')['Payment'].value_counts()

City       Payment
Mandalay   Ewallet        113
           Cash           110
           Credit card    109
Naypyitaw  Cash           124
           Ewallet        106
           Credit card     98
Yangon     Ewallet        126
           Cash           110
           Credit card    104
Name: count, dtype: int64

# Informações sobre o tipo de clientes

In [13]:
# Tipos de compradores 

supermark['Customer type'].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

In [52]:
# Tipos de compradores por genero

supermark.groupby('Gender')['Customer type'].value_counts()

Gender  Customer type
Female  Member           261
        Normal           240
Male    Normal           259
        Member           240
Name: count, dtype: int64

# Reunindo informações de vendas por gênero

In [25]:
# Soma da quantidade dos produtos vendidos

supermark['Quantity'].sum()

5510

In [36]:
# Maiores compradores de produtos por genero

supermark.groupby('Gender')['Quantity'].sum()

Gender
Female    2869
Male      2641
Name: Quantity, dtype: int64

In [15]:
# Generos de clientes que mais compram em cada mercado

supermark.loc[supermark['City'] == 'Mandalay'].groupby('Gender').size()

Gender
Female    162
Male      170
dtype: int64

In [16]:
# Generos de clientes que mais compram em cada mercado

supermark.loc[supermark['City'] == 'Naypyitaw'].groupby('Gender').size()

Gender
Female    178
Male      150
dtype: int64

In [17]:
# Generos de clientes que mais compram em cada mercado

supermark.loc[supermark['City'] == 'Yangon'].groupby('Gender').size()

Gender
Female    161
Male      179
dtype: int64

In [58]:
# Listando as vendas por tipos de produtos separado por genero

supermark.groupby('Gender')['Product line'].value_counts()

Gender  Product line
Female  Fashion accessories       96
        Food and beverages        90
        Sports and travel         88
        Electronic accessories    84
        Home and lifestyle        79
        Health and beauty         64
Male    Health and beauty         88
        Electronic accessories    86
        Food and beverages        84
        Fashion accessories       82
        Home and lifestyle        81
        Sports and travel         78
Name: count, dtype: int64

In [30]:
# Agora usando como porcentagem

supermark.groupby('Gender')['Product line'].value_counts(normalize=True)*100

Gender  Product line
Female  Fashion accessories       19.161677
        Food and beverages        17.964072
        Sports and travel         17.564870
        Electronic accessories    16.766467
        Home and lifestyle        15.768463
        Health and beauty         12.774451
Male    Health and beauty         17.635271
        Electronic accessories    17.234469
        Food and beverages        16.833667
        Fashion accessories       16.432866
        Home and lifestyle        16.232465
        Sports and travel         15.631263
Name: proportion, dtype: float64

In [12]:
# Linhas de produtos mais vendidas

supermark.groupby('Product line')['Quantity'].sum().sort_values(ascending=False)

Product line
Electronic accessories    971
Food and beverages        952
Sports and travel         920
Home and lifestyle        911
Fashion accessories       902
Health and beauty         854
Name: Quantity, dtype: int64

# Média das notas por mercado em cada cidade

In [9]:
# Criando uma média de nota dos clientes para o supermercado de cada cidade

supermark.groupby('City')['Rating'].mean().sort_values(ascending=False)

City
Naypyitaw    7.072866
Yangon       7.027059
Mandalay     6.818072
Name: Rating, dtype: float64

In [6]:
# Média da nota por produto de um mercado 

supermark.loc[supermark['City'] == 'Mandalay'].groupby('Product line')['Rating'].mean().sort_values(ascending=False)

Product line
Electronic accessories    7.116364
Health and beauty         7.100000
Food and beverages        6.994000
Fashion accessories       6.722581
Home and lifestyle        6.516000
Sports and travel         6.509677
Name: Rating, dtype: float64

In [7]:
# Média da nota por produto de um mercado 

supermark.loc[supermark['City'] == 'Naypyitaw'].groupby('Product line')['Rating'].mean().sort_values(ascending=False)

Product line
Fashion accessories       7.440000
Food and beverages        7.080303
Home and lifestyle        7.060000
Sports and travel         7.028889
Health and beauty         6.998077
Electronic accessories    6.747273
Name: Rating, dtype: float64

In [8]:
# Média da nota por produto de um mercado 

supermark.loc[supermark['City'] == 'Yangon'].groupby('Product line')['Rating'].mean().sort_values(ascending=False)

Product line
Sports and travel         7.257627
Food and beverages        7.253448
Home and lifestyle        6.930769
Electronic accessories    6.911667
Health and beauty         6.900000
Fashion accessories       6.878431
Name: Rating, dtype: float64

# Calculando o valor total das vendas e taxas por cidade

In [39]:
# Valor total das vendas com a taxa

supermark['Total'].sum()

322966.749

In [10]:
# Valor total de vendas por cidade

supermark.groupby('City')['Total'].sum().sort_values(ascending=False)

City
Naypyitaw    110568.7065
Yangon       106200.3705
Mandalay     106197.6720
Name: Total, dtype: float64

In [43]:
# Valor total da taxa

supermark['Tax 5%'].sum()

15379.368999999999

In [11]:
# Valor da taxa por cidade

supermark.groupby('City')['Tax 5%'].sum().sort_values(ascending=False)

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: Tax 5%, dtype: float64

In [30]:
# Quando cada cliente paga em média a taxa 

supermark['Tax 5%'].mean()

15.379368999999999